pyrogram
tgcrypto
yt-dlp
Pillow>=10.0.0
requests>=2.31.0
python-dotenv>=1.0.0
ffmpeg-python>=0.2.0
imageio-ffmpeg>=0.4.9
g4f
curl_cffi
ddgs
PyMuPDF
python-docx
pandas
openpyxl
python-pptx
SpeechRecognition
pydub
pytubefix
